# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw and processed data
data/raw/*
data/processed/*

# Trained models
models/*.pkl
models/*.joblib

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db